# .NET SDK stuff
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Global build artifacts
bin/
obj/
TestResults/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# dotnet-specific
project.lock.json
project.fragment.lock.json

# Resharper / Rider
.ReSharper/
*.DotSettings.user
